* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #FFC857;
}
#title {
    display: flex;
    justify-content: center;
    padding-right: 25%
}

#screen-center {
    margin: 0 auto;
    /* height: 960px; */
    width: 840px;
}
#grid-container {
    background-color: white;
    display: grid;
    border: 5px solid black;
    box-shadow: 1px 1px 8px #264653;
    height: 770px;
    width: 770px;
    /* grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); */
}
#bottom-controls {
   margin-top: 20px;
   display: flex;
   justify-content: space-around;
   align-items: baseline;
   width: 770px
}

.text-style {
    padding: 6px 18px;
    background: #264653;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.2px;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 8px #888;
}

#input-grid-size {
    margin-left: auto;
    width: 425px;
    border-radius: 6px 0px 0px 6px;
}

#btn-grid-size {
    margin-left: -5px;
    /* margin-right: 10px; */
    border-radius: 0px 6px 6px 0px;
}

#grid-and-sidebar {
    display: flex; 
}

#side-bar {
    width: 70px;
    height: 770px;
    background-color: #C6C1AD;
    border: 5px solid black;
    border-left: 0;
    box-shadow: 1px 1px 8px #264653;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#side-bar * {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 100%;
    opacity: 0.8;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
}
#side-bar:first-child {
    margin-top: 40px;
}
#side-bar *:hover {
   opacity: 1; 
   transform: scale(1.5);
}
 
#side-bar > img:nth-child(1) {
    margin-top: 60px;
}
#side-bar > div:nth-child(14) {
    margin-bottom: 60px;
}

#placeholder {
    margin: auto;
}